body {
  margin: 0px;
  padding: 0px;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Dashboard .Topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.Dashboard .Topbar h1 {
  font-size: 20px;
  font-family: 'Nunito Sans';
  margin: 10px 10px 10px 20px;
}

.Dashboard .Topbar .Profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.Dashboard .Topbar .Profile h1 {
  font-size: 15px;
  font-weight: 600;
  margin-right: 10px;
}

.Dashboard .Topbar .Profile img {
  background-color: gray;
  border-radius: 50%;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}

.Dashboard .Topbar .Profile svg {
  width: 15px;
  height: 15px;
}

.Dashboard .DashContent {
  display: flex;
  flex: 1;
}

.Dashboard .DashContent .SideNav {
  box-shadow: 4px 1px 4px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.Dashboard .DashContent .SideNav .Tabs {
  margin-top: 25px;
}

.Dashboard .DashContent .SideNav .Tabs .Tab {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.Dashboard .DashContent .SideNav .Tabs .Tab .Wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px 0 2px 0px;
}

.Dashboard .DashContent .SideNav .Tabs .Tab h1 {
  font-weight: 600;
  font-family: 'Nunito Sans';
  font-size: 14px;
  color: gray;
  margin-left: 10px;
  margin-right: 70px;
}

.Dashboard .DashContent .SideNav .Tabs .Tab svg {
  margin-right: 5px;
  margin-left: 15px;
}

.Dashboard .DashContent .SideNav .Tabs .Tab:hover {
  cursor: pointer;
  user-select: none;
}

#TabActive {
  background: linear-gradient(to left, #7474bf, #348ac7);
}

#TabActive .Wrapper svg {
  color: white;
}

#TabActive .Wrapper h1 {
  color: white;
}

.Dashboard .DashContent .Content {
  flex: 1;
  background-color: #f0f4f6;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #555;
}
